{% load box_tags %}
{% load forms_tags %}

<div class="container">
<!-- MAIN FOOTER LINKS INFO: -->     
  {% box 2 %}
  
  <!-- FOOTER BUTTONS -->
   
  <!-- WARNING: These were inside the box and hence inside a box div, Pulling them out may cause sizing issues to fix. -->
   
  <!-- CONTACT US BUTTON -->
  
  <div class="col-md-2 col-sm-2 col-xs-12">
  	<button class="btn btn-default btn-lg" type="button" data-toggle="modal" data-target="#PopUpContact"> Contact </button>
  </div>
  
  <div id="PopUpContact" class="modal">  
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          {% embed_form 1 %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>    
  <!-- END MODAL CONTACT -->          
  
  <!-- MAILING LIST BUTTON -->
  <div class="col-md-2 col-sm-2 col-xs-12">
  	<button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#PopUpSubscribe"> Subscribe </button>
  </div>
  
  <div id="PopUpSubscribe" class="modal">  
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          {% embed_form 2 %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>    
  <!-- END MODAL NEWSLETTER -->          
</div>
