<!-- Tendenci Specific Load Tags (Delete as Needed)
   =========================================================== -->
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load story_tags %}
{% load box_tags %}
{% load forms_tags %}
{% load news_tags %}
{% load article_tags %}
{% load photo_tags %}
{% load event_tags %}
{% load event_filters %}
{% theme_extends "base.html" %}

<!-- Meta Tags (for optimal SEO)
   =========================================================== -->
{% block title %}{{ block.super }} | {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}
{% block meta_description %}{{ block.super }}{% endblock %}
{% block meta_keywords %}{{ block.super }}, {{ SITE_GLOBAL_SITESECONDARYKEYWORDS }}{% endblock %}

<!-- Start of the Body
   =========================================================== -->
{% block body_ids %}home{% endblock body_ids %}
{% block body_classes %}home{% endblock body_classes %}

{% block html_body %}
    {% theme_include "header.html" %} 

    <div id="page-top-home" role="main">
        <section id="about-us">
            <div class="container">
                <div class="row col-md-10 col-md-offset-1">
                    <div class="col-md-5">
                        {% box 3 %}
                    </div>
    
                    <div class="col-md-6 col-md-offset-1">
                        {% box 4 %}
                    </div>
                </div>
            </div>
        </section> <!-- end: about-us -->

        <section id="get-updates-form">
            <div class="container">
                <div class="jumbotron text-center">
                    <h1>Get Updates</h1>
                    <p>Stay in touch! Get updates about our events, articles, and other news.</p>
    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Join our Mailing List
                    </button>
    
                    <!-- POP UP FORM -->
                    <div id="myModal" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    {% embed_form 2 %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POP UP FORM -->
                </div>
            </div>
        </section> <!-- end: get-updates-form -->
        
        <section id="upcoming-events">
            <div class="container">
                <div class="col-md-6 col-md-offset-1 jumbotron">
                    {% list_events as events_list limit=3 order="current_and_upcoming" %}
                        <ul class="list-unstyled">
                            {% for event in events_list %}
                                <li>
                                    <a href="{{ event.get_absolute_url }}">
                                        <h3>
                                            {{ event.title }}
                                        </h3>
                                    </a>
                                    <p>{{ event.start_dt|date:"F j, Y - P" }}</p>
                                    <h5>{{ event.place.name }}</h5>
                                </li>
                            {% empty %}
                                {% trans 'Events will be shown here. <a href="/events/add/">Start adding events now!</a>' %}
                            {% endfor %}
                        </ul>
                        {% if event_list %}
                            <a href="{% url 'event.search' %}">{% trans 'View more events' %} »</a>
                        {% endif %}
                </div>	
    
                <div class="col-md-3 col-md-offset-1">
                    {% box 5 %}{% box 6 %}
                </div>
    
            </div>
        </section> <!-- end: upcoming-events -->
    
        <!-- Footer starts
          =========================================================== -->
        <footer>
            {% theme_include 'footer.html' %}
        </footer>
        <!-- Footer Ends -->
    </div>
{% endblock %}
<!-- Ends the Body -->

{% block extra_body %}
{{ super.block }}
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }
    (document, "script", "twitter-wjs");
</script>

{% endblock extra_body %}